<a href="https://colab.research.google.com/github/giuliamuscara/Kaggle-Titanic-Competition/blob/main/fashion_business_case.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [158]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [159]:
campaign_tasks_df = pd.read_csv("/content/campaign_tasks.csv")
customers_df = pd.read_csv("/content/customers.csv")
transactions_df = pd.read_csv("/content/transactions.csv")

In [160]:
customers_df.info()
customers_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        3500 non-null   object
 1   birth_year         3500 non-null   int64
 2   gender             3500 non-null   object
 3   country            3500 non-null   object
 4   registration_date  3500 non-null   object
 5   is_active          3500 non-null   int64
 6   marketing_consent  3500 non-null   int64
dtypes: int64(3), object(4)
memory usage: 191.5+ KB

        birth_year    is_active  marketing_consent
count  3500.000000  3500.000000        3500.000000
mean   1977.136000     0.682286           0.899714
std      15.808272     0.465654           0.300423
min    1950.000000     0.000000           0.000000
25%    1964.000000     0.000000           1.000000
50%    1977.000000     1.000000           1.000000
75%    1991.000000     1.000000           1.000000
max    2004.000000     1.000000           1.000000

In [161]:
# Analyze the customer dataframe
print("Number of unique customers:", customers_df['customer_id'].nunique())
print("\nDistribution of genders:")
display(customers_df['gender'].value_counts())
print("\nDistribution of countries:")
display(customers_df['country'].value_counts())
print("\nAge distribution:")
# Assuming 'birth_year' is available in customers_df
current_year = pd.to_datetime('now').year
customers_df['age'] = current_year - customers_df['birth_year']
print("Mean age:", customers_df['age'].mean())
print("Median age:", customers_df['age'].median())
print("Age range:", customers_df['age'].min(), "-", customers_df['age'].max())

Number of unique customers: 3500

Distribution of genders:

gender
M        1689
F        1688
Other     123
Name: count, dtype: int64

Distribution of countries:

country
IT    633
FR    617
CN    582
DE    569
JP    556
US    543
Name: count, dtype: int64

Age distribution:
Mean age: 47.864
Median age: 48.0
Age range: 21 - 75

In [162]:
transactions_df.info()
transactions_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       7000 non-null   object
 1   event_type        7000 non-null   object
 2   event_date        7000 non-null   object
 3   product_category  7000 non-null   object
 4   quantity          7000 non-null   int64
 5   net_sale_euro     7000 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 328.3+ KB

          quantity  net_sale_euro
count  7000.000000    7000.000000
mean      2.008429    1050.051063
std       1.016263     547.171330
min       1.000000     100.130000
25%       1.000000     574.535000
50%       2.000000    1053.500000
75%       3.000000    1517.317500
max       8.000000    1999.760000

In [163]:
# Analyze the transactions dataframe
print("Number of unique transactions:", transactions_df.shape[0])
print("\nDistribution of event types:")
display(transactions_df['event_type'].value_counts())
print("\nDistribution of product categories:")
display(transactions_df['product_category'].value_counts())
print("\nQuantity distribution:")
print("Mean quantity:", transactions_df['quantity'].mean())
print("Median quantity:", transactions_df['quantity'].median())
print("Quantity range:", transactions_df['quantity'].min(), "-", transactions_df['quantity'].max())
print("\nNet sale euro distribution:")
print("Mean net sale euro:", transactions_df['net_sale_euro'].mean())
print("Median net sale euro:", transactions_df['net_sale_euro'].median())
print("Net sale euro range:", transactions_df['net_sale_euro'].min(), "-", transactions_df['net_sale_euro'].max())

Number of unique transactions: 7000

Distribution of event types:

event_type
purchase    7000
Name: count, dtype: int64

Distribution of product categories:

product_category
slg        1444
textile    1410
bags       1408
rtw        1378
shoes      1360
Name: count, dtype: int64

Quantity distribution:
Mean quantity: 2.0084285714285715
Median quantity: 2.0
Quantity range: 1 - 8

Net sale euro distribution:
Mean net sale euro: 1050.0510628571428
Median net sale euro: 1053.5
Net sale euro range: 100.13 - 1999.76

In [164]:
# Analyze the campaign_tasks dataframe
campaign_tasks_df.info()
campaign_tasks_df.describe()
print("Number of unique campaign tasks:", campaign_tasks_df.shape[0])
print("\nNumber of unique campaigns:", campaign_tasks_df['id_campaign'].nunique())
print("\nNumber of unique customers involved in campaigns:", campaign_tasks_df['customer_id'].nunique())
print("\nDistribution of campaign statuses:")
display(campaign_tasks_df['campaign_status'].value_counts())
print("\nDistribution of campaign channels:")
display(campaign_tasks_df['campaign_channel'].value_counts())
print("\nDistribution of activity subjects:")
display(campaign_tasks_df['activity_subject'].value_counts())
# Convert date columns to datetime objects
campaign_tasks_df['start_date'] = pd.to_datetime(campaign_tasks_df['start_date'])
campaign_tasks_df['end_date'] = pd.to_datetime(campaign_tasks_df['end_date'])
campaign_tasks_df['last_modified_date'] = pd.to_datetime(campaign_tasks_df['last_modified_date'])
print("\nCampaign duration distribution (in days):")
campaign_tasks_df['campaign_duration'] = (campaign_tasks_df['end_date'] - campaign_tasks_df['start_date']).dt.days
print("Mean duration:", campaign_tasks_df['campaign_duration'].mean())
print("Median duration:", campaign_tasks_df['campaign_duration'].median())
print("Duration range:", campaign_tasks_df['campaign_duration'].min(), "-", campaign_tasks_df['campaign_duration'].max())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_campaign         5000 non-null   object
 1   customer_id         5000 non-null   object
 2   campaign_status     5000 non-null   object
 3   campaign_channel    5000 non-null   object
 4   activity_subject    5000 non-null   object
 5   start_date          5000 non-null   object
 6   end_date            5000 non-null   object
 7   last_modified_date  5000 non-null   object
dtypes: object(8)
memory usage: 312.6+ KB
Number of unique campaign tasks: 5000

Number of unique campaigns: 5000

Number of unique customers involved in campaigns: 2664

Distribution of campaign statuses:

campaign_status
Done      3423
Failed    1577
Name: count, dtype: int64

Distribution of campaign channels:

campaign_channel
sms       1303
email     1254
call      1241
letter    1202
Name: count, dtype: int64

Distribution of activity subjects:

activity_subject
Anniversary Campaign        683
Spring Collection Launch    640
Exclusive Preview           627
Loyalty Program Update      625
New Arrivals                618
Personalized Offer          617
Holiday Sale                600
VIP Re-engagement           590
Name: count, dtype: int64

Campaign duration distribution (in days):
Mean duration: 5.5354
Median duration: 6.0
Duration range: 1 - 10

In [171]:
# Get the list of unique customer_ids where is_active is 0
inactive_customer_ids = customers_df[customers_df['is_active'] == 0].customer_id.tolist()
print("Number of inactive customers: ", len(inactive_customer_ids))

# Filter transactions_df
inactive_transactions_df = transactions_df[transactions_df['customer_id'].isin(inactive_customer_ids)]

# Filter campaign_tasks_df
inactive_campaign_tasks_df = campaign_tasks_df[campaign_tasks_df['customer_id'].isin(inactive_customer_ids)]

print("Transactions for inactive customers:")
display(inactive_transactions_df.shape)

print("\nCampaign tasks for inactive customers:")
display(inactive_campaign_tasks_df.shape)

Number of inactive customers:  1112
Transactions for inactive customers:

(952, 6)

Campaign tasks for inactive customers:

(1577, 9)

In [172]:
# Convert event_date to datetime objects
transactions_df['event_date'] = pd.to_datetime(transactions_df['event_date']).dt.date

# Create a dictionary of customer IDs and their transaction dates
customer_dates = transactions_df.groupby('customer_id')['event_date'].apply(list).to_dict()

In [173]:
from datetime import timedelta

count_customers_with_long_interval = 0

# create df with information about periods of customers inactivity, where date1 and reactivation date express start and end of periods of inactivity (more than 120 days passed in between)
customer_reactivations_df=pd.DataFrame(columns=['customer_id','date1', 'reactivation_date','comm_flag', 'comm_channels', 'comm_dates'])
for customer_id, dates in customer_dates.items():
    if len(dates) > 1:
        #order dates from most recent to oldest timestamp
        dates.sort(reverse=True)
        ts = dates[0]
        for prev_ts in dates:
          if (ts - prev_ts) >= timedelta(days=120):
            if (customer_id not in customer_reactivations_df['customer_id']):
              count_customers_with_long_interval += 1
              inactive_customer_ids.append(customer_id)

            #insert row with customer id, prev_ts and ts in customer_reactivations_df dataframe
            customer_reactivations_df.loc[len(customer_reactivations_df)] = [customer_id, prev_ts, ts, 0, [], []]
          ts = prev_ts

print(f"Number of customers with transaction dates at least 120 days apart: {count_customers_with_long_interval}")
print("Rate of customers that went inactive at least once in 2024: ", count_customers_with_long_interval / len(customers_df['customer_id']))

Number of customers with transaction dates at least 120 days apart: 756
Rate of customers that went inactive at least once in 2024:  0.216

In [175]:
print("Probability that an inactive customer will return: ", count_customers_with_long_interval / len(inactive_customer_ids))

Probability that an inactive customer will return:  0.40471092077087795

In [176]:
#turn campaign_tasks_df start and end dates to type dt.date
campaign_tasks_df['start_date'] = pd.to_datetime(campaign_tasks_df['start_date']).dt.date
campaign_tasks_df['end_date'] = pd.to_datetime(campaign_tasks_df['end_date']).dt.date

campaign_tasks_df.sort_values(by='customer_id', inplace=True)

# Reset the index to make customer_id a column
customer_reactivations_df = customer_reactivations_df.reset_index()
# Ensure customer_id is string type
customer_reactivations_df['customer_id'] = customer_reactivations_df['customer_id'].astype(str)

for index, row in campaign_tasks_df.iterrows():
    c_id = row['customer_id']

    # Find the row in customer_reactivations_df by customer_id
    reactivation_row_index = customer_reactivations_df[customer_reactivations_df['customer_id'] == c_id].index
    if not reactivation_row_index.empty and row['campaign_status']=='Done':
        reactivation_row_index = reactivation_row_index[0] # Get the first index if multiple matches (should be unique)
        customer_reactivations_df.loc[reactivation_row_index, 'comm_flag'] = 1 # comm_flag expresses wether a customer ever received a campaign
        deactivation_date = customer_reactivations_df.loc[reactivation_row_index, 'date1']
        reactivation_date = customer_reactivations_df.loc[reactivation_row_index, 'reactivation_date']
        if row['start_date'] >= deactivation_date and row['end_date'] <= reactivation_date: # date range check
            customer_reactivations_df.loc[reactivation_row_index, 'comm_channels'].append(row['campaign_channel'])
            customer_reactivations_df.loc[reactivation_row_index, 'comm_dates'].append(row['start_date'])

customer_reactivations_df.to_csv('customer_reactivations.csv', index=False)
customer_reactivations_df

,index,customer_id,date1,reactivation_date,comm_flag,comm_channels,comm_dates
0,0,CUST_00001,2024-08-17,2024-12-16,0,[],[]
1,1,CUST_00003,2024-08-13,2024-12-12,1,[sms],[2024-09-15]
2,2,CUST_00011,2024-06-12,2024-12-16,1,[],[]
3,3,CUST_00018,2024-06-04,2024-10-03,1,[],[]
4,4,CUST_00040,2024-07-06,2024-11-04,1,[sms],[2024-10-08]
...,...,...,...,...,...,...,...
751,751,CUST_03488,2024-11-18,2025-03-19,1,[],[]
752,752,CUST_03490,2024-10-27,2025-02-25,1,[],[]
753,753,CUST_03494,2024-08-14,2024-12-13,1,[],[]
754,754,CUST_03495,2024-06-22,2024-10-21,1,[],[]
755,755,CUST_03497,2024-07-12,2024-11-10,1,[],[]

In [177]:
#count how many customer_id were influenced by different types of campaigns
cnt_call = 0
cnt_email = 0
cnt_sms = 0
cnt_letter = 0
for index, row in customer_reactivations_df.iterrows():
  if 'call' in row['comm_channels']:
    cnt_call += 1
  if 'email' in row['comm_channels']:
    cnt_email += 1
  if 'sms' in row['comm_channels']:
    cnt_sms += 1
  if 'letter' in row['comm_channels']:
    cnt_sms += 1
print("Number of customers with call communication: ", cnt_call)
print("Number of customers with email communication: ", cnt_email)
print("Number of customers with sms communication: ", cnt_sms)
print("Number of customers with letter communication: ", cnt_letter)

Number of customers with call communication:  40
Number of customers with email communication:  39
Number of customers with sms communication:  79
Number of customers with letter communication:  0

In [ ]:
#extract requirements file to execute above code